<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Golos+Text&family=Merriweather&family=Montserrat:wght@100;400;900&family=Sacramento&family=Sawarabi+Mincho&family=Ubuntu&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">

        <% for(var i=0;i<newItem.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newItem[i] %>
                </p>
            </div>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" placeholder="Create a task to do" name="newTask" autocomplete="off">
                    <button type="submit">+</button>
                </form>

    </div>



</body>

</html>